<h2>Sign up</h2>
<div class="box">
  <%= form_for(resource_name, resource, :url => registration_path(resource_name), :html => { :multipart => true } ) do |f| %>
    <%= f.error_messages %>
    <p><%= f.label :username %></p>
    <p><%= f.text_field :username %></p>
    
    <p><%= f.label :email %></p>
    <p><%= f.text_field :email %></p>

    <p><%= f.label :password %></p>
    <p><%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation %></p>

    <p><%= f.label :allow_notifications %> <i>(I wish to receive event updates via email?)</i></p>
    <p><%= f.check_box :allow_notifications %>
    
    <p><%= f.label :avatar %> <i>(select an image to be your avatar)</i></p>
    <p><%= f.file_field :avatar %></p>
    <hr>
    <p><%= f.submit "Sign up" %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>
