<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @session.selection.event %>
<% end %>
<div class="span-12">
  <h1>Session for <%= @session.selection.event.name %></h1>
</div>
<div class="span-6 right last">
  <% if current_user.authorized?(@session.event.user_id)%>
    <%= link_to 'Edit Session',edit_movie_session_path(@session) %>
  <% end %>
</div>
<hr />
<div class="span-6">
  <%= image_tag 'admit-one.gif', :width => 170 %>
</div>
<div class="span-12 last">
  <strong>Movie Title</strong><br />
  <table><tr>
    <td id="row_image">
      <%= image_tag(@session.selection.poster, :alt => @session.selection.movie_name, :height => "50") %>
    </td>
    <td>
      <strong><%= @session.selection.movie_name %></strong>
    </td>
  </tr></table>
  <strong>Session Time</strong>
  <p class="indent"><%= @session.start.strftime("%I:%M %P, %d %b %Y") %></p>
  <p>Running Time: <%= @session.selection.running_time %> mins</p>
  <strong>Venue</strong>
  <p class="indent"><%= @session.venue %></p>
  <strong>Who's Going?</strong><br />
  <% unless @session.session_attendances.empty? %>
    <% @session.session_attendances.each do |a| %>
        <%= image_tag(a.user.avatar.url(:thumb), :alt => "#{a.user.username}", :title => "#{a.user.username}" ) %>
    <% end %>
    <br />
  <% else %>
    <p class="indent">No one has confirmed their attendance.</p>
  <% end %>
  <% unless @session_attendance %>
    <% form_for(@new_attendance) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :movie_session_id, :value => @session.id %>
      <%= f.submit "I will be there!" %>
    <% end %>
  <% else %>
    <%= button_to "Changed my mind!", session_attendance_path(@session_attendance), :method => :delete %>
  <% end %>
  <br />
  <strong>Attendee reviews</strong><br>
  <%= get_stars(@session.selection) %><br>
  <p class="indent">
    <%= @session.selection.average_rating %> (<%= link_to pluralize(@session.selection.reviews.count,'review'),list_reviews_selection_path(@session.selection) %>)
  | <%= myreview %><br>
  </p>
  <strong>Selected by</strong> (<%= @session.selection.created_at.strftime('%d %b %Y') %>)<br>
  <table>
    <tr>
      <td id="row_image"><%= link_to image_tag(@session.selection.user.avatar.url(:thumb)), Attendance.find_by_event_id_and_attending_id(@session.selection.event_id,@session.selection.user_id) %></td>
      <td id="user_name"><%= @session.selection.user.username %></td><td>
    </tr>
  </table>
  <br><hr>
  <%= link_to 'Selection details',@session.selection %> | 
  <%= link_to 'Event home',@session.selection.event %> |
  <%= link_to 'Event sessions', schedule_event_path(@session.selection.event) %>
</div>
