<% content_for(:scripts) do %>
  <%= javascript_include_tag 'jquery.nivo.slider.pack' %>
<% end %>
<% content_for(:stylesheets) do %>
  <%= stylesheet_link_tag 'themes/default/default', :media => 'screen' %>
  <%= stylesheet_link_tag 'nivo-slider', :media => 'screen' %>
<% end %>
<% content_for(:scripts) do %>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>
<% end %>
<h1><%= @movie.name %></h1>
<div class="span-6">
  <%= insert_poster(@movie,300) %>
  <table class="zebra">
    <tbody>
      <tr>
          <td>Released</td>
          <td><%= @movie.released %></td>
      </tr>
      <tr>
          <td>Urls</td>
          <td><%= link_to( 'TMDB', @movie.url ) %><br>
              <% unless @movie.imdb_id.nil? %>
                <%= link_to( 'IMDB', "http://www.imdb.com/title/" + @movie.imdb_id ) %>
              <% end %>
          </td> 
      </tr>
      <tr>
          <td>TMDB User Rating</td>
          <td><%= @movie.rating %> ( <%= @movie.votes %> votes )</td>
      </tr>
      <tr>
          <td>Classification</td>
          <td><%= @movie.certification %></td>
      </tr>
      <tr>
          <td>Running Time</td>
          <td><%= @movie.runtime %> mins</td>
      </tr>
      <tr>
          <td>Trailer</td>
          <td><%= link_to( image_tag('youtube_icon_small.gif'),@movie.trailer ) if @movie.trailer %></td>
      </tr>
      <tr>
          <td>Revenue</td>
          <td>$ <%= @movie.revenue if @movie.revenue %></td>
      </tr>
      <tr>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <div class="box">
    <strong>Make Selection</strong><br>
    <% if not @events.empty? %>
      <% form_for @selection do |f| %>
        <%= f.select(:event_id, @events.collect { |e| [e.name, e.id] } ) %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :movie_id, :value => @movie.id %>
        <%= f.hidden_field :movie_name, :value => @movie.name %>
        <%= f.hidden_field :running_time, :value => @movie.runtime %>
        <%= f.hidden_field :poster, :value => get_thumb_url(@movie) %>
        <%= f.submit "Select" %>
      <% end %>
    <% else %>
      <br>
      <p class="indent">No elligible events found.</p>
      <br>
      <p class="indent">Go to your <%= link_to 'home page',current_user %> to view invite and attendance information.</p>
    <% end %>
    </div>
  <% end %>
</div>
<div class="span-12 last">
  <strong>Credits</strong><br>
  <div class="span-6">
    <table class="zebra">
      <tbody>
        <% @actors.each do |actor| %>
          <tr>
            <td width="60">
              <% if actor.profile == "" %>
                <%= image_tag '/avatars/thumb/missing.png' %>
              <% else %>
                <%= image_tag actor.profile,:height=>'50' %>
              <% end %>
            </td>
            <td>
              <i><%= actor.job %></i><br>
              <strong><%= link_to actor.name, actor.url %></strong> 
              <%= (actor.character == '') ? '' : 'as '+actor.character %></td>
          </tr>
        <% end %>  
      </tbody>
    </table>
  </div>
  <div class="span-6 last">
    <table class="zebra">
      <tbody>
        <% @credits.each do |person| %>
          <tr>
            <td width="60">
              <% if person.profile == "" %>
                <%= image_tag '/avatars/thumb/missing.png' %>
              <% else %>
                <%= image_tag person.profile,:height=>'50' %>
              <% end %>
            </td>
            <td>
              <i><%= person.job %></i><br>
              <strong><%= link_to person.name, person.url %></strong> 
              <%= (person.character == '') ? '' : 'as '+person.character %></td>
          </tr>
        <% end %>  
      </tbody>
    </table>
  </div>
  <div class="span-12 last push-4">
    <%= link_to "movie details", { :action => "show", :id => @movie.id } %>
  </div>
</div>
