<div  class="push-4 last">
  <% form_tag '/movies/index', :method => 'get' do %>
      <span class="largefont">Find Movie</span>
      <%= text_field_tag :search %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<div class="span-18" last>
  <% unless @movies.empty? %>
      <%= will_paginate @movies %>
      <table class="phoenix_table" summary="Movie search results">
          <%= render :partial => 'shared/movie', :collection => @movies %>
      </table>
      <%= will_paginate @movies %>
  <% end %>
</div>
