<%= content_for(:header) do %>
  <%= link_to "Back", root_url, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1>Find Film</h1>
<% end %>
<%= form_tag '/movies/index', :method => 'get' do %>
      <%= text_field_tag :search %>
      <%= submit_tag "Search", :name => nil %>
<% end %>
