<% content_for(:header) do %>
  <%= link_to "Back", root_path, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1><%= @movie.name %></h1>
<% end %>
<%= insert_poster(@movie,200) %>
<ul data-role="listview">
  <li data-role="list-divider">Overview</l1>
  <li><p style="white-space: normal;"><%= @movie.overview %></p></li>
    <li data-role="list-divider">Details</l1>
  <li>Released: <%= @movie.released %></li>
  <li>TMDB User Rating: <%= @movie.rating %> ( <%= @movie.votes %> votes )</li>
  <li>Classification: <%= @movie.certification %></li>
  <li>Running Time: <%= @movie.runtime %> mins</li>
  <li><a href="#credits">Credits</a></li>
  <% unless @events.empty? %>
    <li><a href="#selection">Make Selection</a></li>
  <% end %>
  <div data-role="navbar">
    <ul>
      <% unless @movie.imdb_id.nil? %>
        <li><%= link_to( 'IMDB', "http://www.imdb.com/title/" + @movie.imdb_id, :class => "ui-btn-active", :rel => 'external' ) %></li>
      <% end %>
	    <li><%= link_to( 'TMDB', @movie.url, :rel => 'external', :class => "ui-btn-active" ) %></li>
	    <% if @movie.trailer %>
        <li><%= link_to 'Trailer',@movie.trailer, :rel => 'external', :class => "ui-btn-active" %></li>
      <% end %>
	  </ul>
  </div><!-- /navbar -->
</ul>
<% content_for(:morepages) do %>
  <div data-role="page" id="credits">
    <div data-role="header">
      <a href="#mainpage" data-rel="back" data-role="button" class="ui-btn-left">Back</a>
      <h1><%= @movie.name %></h1>
      <%= link_to "Full Site", root_url(:mobile => 0), :rel => 'external', "data-role" => 'button', "class" => "ui-btn-right" %>
    </div>
    <div data-role="content">
      <ul data-role="listview">
        <% @actors.each do |actor| %>
          <li>
            <% if actor.profile == "" %>
              <%= image_tag '/avatars/thumb/missing.png' %>
            <% else %>
              <%= image_tag actor.profile,:height=>'50' %>
            <% end %>
            <h3><%= actor.name %></h3>
            <p><%= actor.job %></p>
            <p><%= (actor.character == '') ? '' : 'as '+actor.character %></p>
          </li>
        <% end %>
        <% @credits.each do |person| %>
          <li> 
            <% if person.profile == "" %>
              <%= image_tag '/avatars/thumb/missing.png' %>
            <% else %>
              <%= image_tag person.profile,:height=>'50' %>
            <% end %>
            <h3><%= person.name %></h3>
            <p><%= person.job %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div data-role="page" id="selection">
    <div data-role="header">
      <a href="#mainpage" data-rel="back" data-role="button" class="ui-btn-left">Back</a>
      <h1><%= @movie.name %></h1>
      <%= link_to "Full Site", root_url(:mobile => 0), :rel => 'external', "data-role" => 'button', "class" => "ui-btn-right" %>
    </div>
    <div data-role="content">
      <% form_for @selection do |f| %>
        <%= f.select(:event_id, @events.collect { |e| [e.name, e.id] } ) %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :movie_id, :value => @movie.id %>
        <%= f.hidden_field :movie_name, :value => @movie.name %>
        <%= f.hidden_field :running_time, :value => @movie.runtime %>
        <%= f.hidden_field :poster, :value => get_thumb_url(@movie) %>
        <%= f.submit "Select" %>
      <% end %>
    </div>
  </div>
<% end %>
