<% content_for(:header) do %>
  <%= link_to "Back", root_path, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1><%= @movie.title %></h1>
<% end %>
<%= insert_poster(@movie,200) %>
<ul data-role="listview">
  <li data-role="list-divider">Overview</l1>
  <li><p style="white-space: normal;"><%= @movie.overview %></p></li>
    <li data-role="list-divider">Details</l1>
  <li>Released: <%= @movie.release_date %></li>
  <li>TMDB User Rating: <%= @movie.vote_average %> ( <%= @movie.vote_count %> votes )</li>
  <li>Running Time: <%= @movie.runtime %> mins</li>
  <li>
    <h3>Credits</h3>
    <ul>
      <% @cast.each do |person| %>
        <li> 
          <%= person_thumbnail(person,50) %>
          <h3><%= person['name'] %></h3>
          <p><%= person['character'] %></p>
        </li>
      <% end %>
    </ul>
  </li>
  <% unless @events.empty? %>
    <li>
      <h3>Select for...</h3>
      <ul>
        <%= form_for @selection do |f| %>
        <li> 
          <%= f.select(:event_id, @events.collect { |e| [e.name, e.id] } ) %>
          <%= f.hidden_field :user_id %>
          <%= f.hidden_field :movie_id, :value => @movie.id %>
          <%= f.hidden_field :movie_name, :value => @movie.title %>
          <%= f.hidden_field :running_time, :value => @movie.runtime %>
          <%= f.hidden_field :poster, :value => get_thumb_url(@movie) %>
        </li>
        <li><%= f.submit "Select" %></li>
        <% end %>
      </ul>  
    </li>
  <% end %>
  <li>
    <fieldset class="ui-grid-b">
      <div class="ui-block-a">
	      <%= link_to( 'TMDB', tmdb_url(@movie), :rel => 'external', "data-role"=> "button", "data-inline" => "true" ) %>
	    </div>
      <div class="ui-block-b">
        <% unless @movie.imdb_id.nil? %>
          <%= link_to( 'IMDB', imdb_url(@movie), :rel => 'external', "data-role"=> "button", "data-inline" => "true" ) %>
        <% end %>
      </div>
	    <div class="ui-block-c">
        <% unless @trailers.empty? or @trailers['youtube'].first.nil? %>
          <%= link_to 'Trailer',"http://www.youtube.com/watch?v=#{@trailers['youtube'].first['source']}", :rel => 'external', "data-role" => "button", "data-inline" => "true" %>
        <% end %>
      </div>
    </fieldset>
  </li>
</ul>
