<h1><%= @movie.name %></h1>
<div class="span-6">
    <%= insert_poster(@movie,300) %>
    <% if user_signed_in? %>
        Unofficial selection for
        <% form_for @selection do |f| %>
            <div class="field">
                <%= f.select(:event_id, @events.collect { |e| [e.name, e.id] } ) %>
            </div>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :movie_id, :value => @movie.id %>
            <%= f.hidden_field :movie_name, :value => @movie.name %>
            <%= f.hidden_field :poster, :value => get_poster_url(@movie) %>
            <%= f.submit "Select" %>
        <% end %>
    <% end %>
</div>
<div class="span-10">
    <table>
        <tr>
            <td>Released</td>
            <td><%= @movie.released %></td>
        </tr>
        <tr>
            <td>Url</td>
            <td><%= link_to @movie.url, @movie.url %></td>
        </tr>
        <tr>
            <td>Popularity</td>
            <td><%= @movie.popularity %></td>
        </tr>
        <tr>
            <td>User Rating</td>
            <td><%= @movie.rating %> ( <%= @movie.votes %> votes )</td>
        </tr>
        <tr>
            <td>Classification</td>
            <td><%= @movie.certification %></td>
        </tr>
        <tr>
            <td>Running Time</td>
            <td><%= @movie.runtime %> mins</td>
        </tr>
        <tr>
            <td>Description</td>
            <td><%= @movie.overview %></td>
        </tr>
    </table>
</div>
