<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>New Comments</h3>
    <p>Recent comments for <%= @event.name %>, for more information go the <%= link_to "website",root_url %></p>
    <% unless @comments.empty? %>
      <table border="1">
      <tr align="left"><th>User</th><th>Comment</th></tr>
      <% @comments.each do |c| %>
        <tr>
          <td>
            <%= c.user.username %><br>
            <%= time_ago_in_words(c.created_at) %> ago
          </td>
          <td>
            <%= c.comment %></td>
          </td>
        </tr>
      <% end %>
      </table>
    <% end %>
    <p>Enjoy the movies!</p>
  </body>
</html>
