<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Weekly Update for <%= @event.name %></h1>
    <p>
      Hi <%= @user.username %>, here's the latest news for <%= @event.name %>, for more information go to the <%= link_to "website",root_url %>
    </p>
    <% unless @selections.empty? %>
      <h3>Recent Selections</h3>
      <p><%= @event.name %> has <%= @event.official_selections.count %> official selections and <%= @event.unofficial_selections.count %> unofficial selections. The following were selected in the last week.</p>
      <table border="1">
      <tr align="left"><th /><th>Movie</th><th>Selected By</th></tr>
      <% @selections.each do |s| %>
        <tr>
          <td><%= image_tag s.poster, :alt => "no image", :height => "50" %></td>
          <td><%= s.movie_name %></td>
          <td><%= s.user.username %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
    <% unless @sessions.empty? %>
      <h3>Upcoming Movie Sessions</h3>
      <table border="1">
      <tr><th /><th>Time</th><th>Movie</th><th>Venue</th></tr>
      <% @sessions.each do |s| %>
        <tr>
          <td><%= image_tag s.selection.poster,:alt => "no image", :height => "50" %></td>
          <td><%= s.start.strftime("%a %d %b, %I:%M %P") %></td> 
          <td><%= s.selection.movie_name %></td>
          <td><%= s.venue %></td>
        </tr>
      <% end %>
      </table>
    <% end %>
    <p>Enjoy the movies!</p>
  </body>
</html>
