<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Weekly Update for <%= @event.name %></h1>
    <p>
      Hi <%= @user.username %>,
    </p>
    <% unless @selections.empty? %>
      <h3>Recent Selections</h3>
      <ul>
      <% @selections.each do |s| %>
        <li><%= s.movie_name %>, selected by <%= User.find(s.user_id).username %>
      <% end %>
      </ul>
    <% end %>
    <% unless @sessions.empty? %>
      <h3>Upcoming Movie Sessions</h3>
      <ul>
      <% @sessions.each do |s| %>
        <li><%= s.start.strftime("%a %d %b, %I:%M %P") %>, <%= Selection.find(s.selection_id).movie_name %>
      <% end %>
      </ul>
    <% end %>
    <p>Enjoy the movies!</p>
  </body>
</html>
