<% event = Event.find(accepted_invite.event_id)%>
<tr>
  <td id="row_image"><%= image_tag event.poster.url(:thumb) %></td>
  <td><span class="event_name"><%= event.name %></span><br>
  <span class="event_description"><%= truncate(event.description, :length => 60) %></span></td>
  <td><span class="event_quota">Selections: <%= accepted_invite.selections_remaining %></span><br>
  <span class="event_quota">Votes: <%= accepted_invite.votes_remaining %></span></td>
  <td class="date">
    <span class="month"><%= event.start.strftime("%b") %></span>
    <span class="day"><%= event.start.strftime("%d") %></span>
    <span class="year"><%= event.start.strftime("%Y") %></span>
  </td>
  <td id="row_buttons">
  <% if user_signed_in? %>
    <% if current_user.authorized?(event.user_id) or current_user.invited_to?(event) %>
      <%= link_to 'Show', event %>
    <% end %>
    <% if current_user.authorized?(event.user_id) %>
      <br><%= link_to 'Edit', edit_event_path(event) %>
      <br><%= link_to 'Destroy', event, :confirm => 'Are you sure you want to remove this event?', :method => :delete %> 
    <% end %>
  <% end %>
  </td>
</tr>
