<tr>
  <td id="row_image"><%= image_tag(attendee.avatar.url(:thumb)) %>
  <% attendance = Attendance.find_by_event_id_and_attending_id(@event.id,attendee.id) %>
  <td id="user_name"><%= link_to attendee.username,attendance %></td>
  <td>
    <span class="event_quota">Selections Remaining: <%= attendance.selections_remaining %></span><br>
    <span class="event_quota">Votes Remaining: <%= attendance.votes_remaining %></span>
  </td>
  <td id="row_buttons">
  <% if current_user.authorized?(@event.user_id) %>
    <%= link_to 'Edit',edit_attendance_path(attendance) %><br>
    <%= link_to 'Remove',attendance, :method => :delete, :confirm => 'Are you sure you want to remove this attendee?' %>
  <% end %>
  </td>
</tr>
