<tr>
  <td id="event_image"><%= image_tag( event_poster_url(attending_event), :height => "60") %></td>
  <td><span class="event_name"><%= attending_event.name %></span><br>
  <span class="event_description"><%= truncate(attending_event.description, :length => 60) %></span></td>
  <td><span class="event_quota">Selections: <%= Attendance.find_by_event_id_and_attending_id(attending_event.id,current_user.id).selections_remaining %></span><br>
  <span class="event_quota">Votes: <%= Attendance.find_by_event_id_and_attending_id(attending_event.id,current_user.id).votes_remaining %></span></td>
  <td class="date">
    <span class="month"><%= attending_event.start.strftime("%b") %></span>
    <span class="day"><%= attending_event.start.strftime("%d") %></span>
    <span class="year"><%= attending_event.start.strftime("%Y") %></span>
  </td>
  <td id="event_buttons">
  <% if user_signed_in? %>
    <% if current_user.authorized?(attending_event.user_id) or current_user.invited_to?(attending_event) %>
      <%= link_to 'Show', attending_event %>
    <% end %>
    <% if current_user.authorized?(attending_event.user_id) %>
      <br><%= link_to 'Edit', edit_event_path(attending_event) %>
      <br><%= link_to 'Destroy', attending_event, :confirm => 'Are you sure you want to remove this event?', :method => :delete %> 
    <% end %>
  <% end %>
  </td>
</tr>
