<tr>
  <td id="row_image">
    <%= image_tag(comment.user.avatar.url(:thumb)) %><br>
  </td>
  <td id="comment_info">
    <span id="user_name"><%= comment.user.username %><br></span>
    <%= time_ago_in_words(comment.created_at) %> ago
  </td>
  <td id="comment_text">
    <%= comment.comment %></td>
  </td>
  <td id="row_buttons">
    <% if current_user.authorized?(comment.user_id) %>
      <%= link_to 'Edit',edit_event_comment_path(comment) %><br>
      <%= link_to 'Destroy', comment, :confirm => 'Are you sure you want to remove this comment?', :method => :delete %>
    <% end %>
  </td>
</tr>
