<tr>
  <td><%= link_to image_tag('event.jpg', :alt => "no image", :height => "60") %></td>
  <td><%= event.name %></td>
  <td><%= event.user_id %></td>
  <td><%= event.public %></td>
  <td><%= event.start %></td>
  <% if user_signed_in? %>
    <% if current_user.authorized?(event.user_id) or current_user.invited_to?(event) %>
      <td width="30"><%= link_to 'Show', event %></td>
    <% else %>
      <td />
    <% end %>
    <% if current_user.authorized?(event.user_id) %>
      <td width="20"><%= link_to 'Edit', edit_event_path(event) %></td>
      <td width="30"><%= link_to 'Destroy', event, :confirm => 'Are you sure you want to remove this event?', :method => :delete %></td>
    <% else %>
      <td />
      <td />
    <% end %>
  <% end %>
</tr>
