<tr>
    <td>
      <%= link_to insert_poster(movie,100), :action => "show", :id => movie.id %>
    </td>
    <td width="20%">
        <%= movie.name %><br>
        <%= movie.released %><br>
        User Rating: <%= movie.rating %>
    </td>
    <td>
        <%= movie.overview %>
        <div class="right">
            <%= link_to "show", :action => "show", :id => movie.id %>
        </div>
    </td>
</tr>
