<tr>
    <td>
      <%= link_to insert_thumbnail(movie,100), :action => "show", :id => movie.id %>
    </td>
    <td>
      <h4><%= link_to movie.title, :action => "show", :id => movie.id %></h4>
      <% unless movie.release_date == '' %>
        <%= Date.parse(movie.release_date).strftime('%e %b %Y') %>
      <% end  %>
    </td>
    <td style="text-align:center;vertical-align:middle;">
      <% unless movie.vote_average == 0 %>
          <div class="label label-info">
              <h4><%= movie.vote_average %></h4>
              <%= movie.vote_count %> votes
          </div>
      <% end %>
    </td>
    <td style="vertical-align:middle;">
      <%= link_to "show", movies_show_path(:id => movie.id), :class => 'btn btn-info' %>
    </td>
</tr>
