<tr>
    <td id="movie_thumbnail">
      <%= link_to insert_thumbnail(movie,100), :action => "show", :id => movie.id %>
    </td>
    <td class="movie_info">
      <span id="movie_title"><%= link_to movie.title, :action => "show", :id => movie.id %></span><br>
      <% unless movie.release_date == '' %>
      <span id="movie_release">     (<%= movie.release_date %>)</span><br>
      <% end  %>
    </td>
    <td id="movie_rating_cell">
      <div id="movie_rating_box">
      Rating<br>
      <span id="movie_rating"><%= movie.vote_average %></span><br>
      ( <%= movie.vote_count %> votes )
      </div>
    </td>
    <td id="movie_buttons">
      <%= link_to "show", { :action => "show", :id => movie.id } %>
    </td>
</tr>
