<tr>
    <td id="movie_thumbnail">
      <%= link_to insert_poster(movie,100), :action => "show", :id => movie.id %>
    </td>
    <td class="movie_info">
        <span id="movie_title"><%= link_to movie.name, :action => "show", :id => movie.id %></span>
        <span id="movie_release">     (<%= movie.released %>)</span><br>
        <span id="movie_overview"><%= truncate(movie.overview, :length => 200) %></span>
    </td>
    <td id="movie_rating_cell">
      <div id="movie_rating_box">
      Rating<br>
      <span id="movie_rating"><%= movie.rating %></span><br>
      ( <%= movie.votes %> votes )
      </div>
    </td>
    <td id="movie_buttons">
      <%= link_to "show", { :action => "show", :id => movie.id } %>
    </td>
</tr>
