<tr>
  <% event = Event.find(order_selection.event_id) %>
  <td id="row_image">
    <%= link_to image_tag(order_selection.poster, :alt => "no image", :height => "50"),:controller => 'movies', :action => 'show', :id => order_selection.movie_id %>
  </td>
  <td><%= order_selection.schedule_priority %></td>
  <td id="selection_info">
     <span id="selection_name"><%= order_selection.movie_name %></span><br>
     Running Time: <strong><%= order_selection.running_time %></strong>
  </td>
  <td id="votes" width="60">Votes<br> <strong><font size="5"><%= order_selection.votes %></font></strong></td>
  <td id="row_buttons">
    <% if current_user.authorized?(event.user_id) %>
      <%= link_to 'Move Up',selection_up_event_path(event, :selection => order_selection.id) %></br>
      <%= link_to 'Move Down',selection_down_event_path(event, :selection => order_selection.id)%>
    <% end %>
  </td>
</tr>
