<tr>
  <td id ="row_image">
    <%= link_to image_tag(review2.selection.poster, :alt => "no image", :height => "50"),list_reviews_selection_path(review2.selection) %>
  </td>
  <td "review_info">
    <span id="user_name"><%= review2.user.username %></span><br>reviewed <%= truncate(review2.selection.movie_name,:length => 25) %><br>
    <%= time_ago_in_words(review2.created_at) %> ago
  </td>
  <td id="review_text">
    <span class="largefont"><%= truncate(review2.summary,:length => 50) %></span><br />
    <%= get_stars_for_review(review2,:small => true) %></br>
    <%= truncate(review2.review,:length => 250) %>
  </td>
</tr>
