<tr>
  <% event = Event.find(selection.event_id) %>
  <td id="row_image">
    <%= link_to image_tag(selection.poster, :alt => "no image", :height => "50"),selection %>
  </td>
  <td class="selection_info">
     <span class="selection_name"><%= link_to selection.movie_name,selection %></span><br />
     <%= get_stars(selection,:small => true) %>
  </td>
  <td>
    Selected by: <strong><%= User.find(selection.user_id).username %></strong><br>
    Running Time: <strong><%= selection.running_time %> mins</strong>
  </td>
  <td id="votes_cell"><div id="votes"><strong><font size="5"><%= selection.votes %></font></strong><br>Votes</div></td>
  <% if current_user.invited_to?(event) and event.open_for_voting %>	
    <td>
      <% form_for(@vote) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :selection_id, :value => selection.id %>
        <%= f.submit "Vote" %>
      <% end %><br>
    </td>
  <% end %>
  <td>
    <% if Vote.find_by_user_id_and_selection_id(current_user.id,selection.id) %>
      <%= image_tag 'tick.jpg' %>
    <% end %>
  </td>
  <td id="row_buttons">
    <% if current_user.authorized?(event.user_id) %>
      <%= link_to 'Remove',selection, :method => :delete, :confirm => 'Are you sure you want to remove this selection?' %><br>
      <%= link_to 'Edit', edit_selection_path(selection) %><br>
      <% if not selection.official %>
        <%= link_to 'Promote',promote_selection_path(selection), :method => :put %>
      <% else %>
        <%= link_to 'Relegate',demote_selection_path(selection), :method => :put %>
      <% end %>
    <% end %>
  </td>
</tr>
