<tr>
  <% event = Event.find(selection.event_id) %>
  <td id="row_image">
    <%= link_to image_tag(selection.poster, :alt => "no image", :height => "50"),:controller => 'movies', :action => 'show', :id => selection.movie_id %>
  </td>
  <td id="selection_info">
     <span id="selection_name"><%= selection.movie_name %></span><br>
     Running Time: <strong><%= selection.running_time %></strong>
  </td>
  <td id="votes_cell"><div id="votes"><strong><font size="5"><%= selection.votes %></font></strong><br>Votes</div></td>
  <td id="row_buttons">
    <% if current_user.invited_to?(event) %>
      <%= link_to 'Add Vote',vote_selection_path(selection), :method => :put %><br>
    <% end %>
    <% if current_user.authorized?(event.user_id) %>
      <%= link_to 'Remove',selection, :method => :delete, :confirm => 'Are you sure you want to remove this selection?' %><br>
      <% if not selection.official %>
        <%= link_to 'Promote',promote_selection_path(selection), :method => :put %>
      <% else %>
        <%= link_to 'Relegate',demote_selection_path(selection), :method => :put %>
      <% end %>
    <% end %>
  </td>
</tr>
