<tr>
  <td id="row_image">
    <%= link_to image_tag(session.selection.poster, :alt => "no image", :height => "50"),session %>
  </td>
 
  <td id="session_time"><%= session.start.strftime("%d %b %Y") %><br />
  <%= session.start.strftime("%I:%M %P") %></td>
  <td id="selection_info">
     <span class="title_link"><%= link_to session.selection.movie_name,session %></span><br />
     <%= get_stars(session.selection,:small => true) %>
  </td>
  <td>
    Running Time: <strong><%= session.selection.running_time %></strong><br />
    Venue: <strong><%= session.venue %></strong>
  </td>
  <td id="row_buttons">
    <% if current_user.authorized?(Event.find(session.event_id).user_id) %>
      <%= link_to 'Edit',edit_movie_session_path(session) %><br />
      <%= link_to 'Remove',session,:method => :delete,:confirm => 'Are you sure you want to remove this session?' %>
    <% end %>
  </td>
</tr>
