<tr>
  <td id="row_image">
    <%= gravatar_image_tag(user.email,:alt => user.username,:class => 'small-gravatar') %>
  </td>
  <td id="user_name"><%= user.username %></td>
  <td>
  <% if @events.count > 0 %>
      <% form_for(@attendance) do |f| %>
        Invite to <%= f.select(:event_id, @events.collect { |e| [e.name, e.id] } ) %>
        <%= f.hidden_field :inviting_id, :value => current_user.id %>
        <%= f.hidden_field :attending_id, :value => user.id %>
        <%= f.submit "Invite" %>
      <% end %>
  <% end %>
  </td>
  <td id="row_buttons">
    <% if current_user.admin? %>
      <%= link_to 'Show',user %><br>
      <%= link_to 'Remove',user, :method => :delete, :confirm => 'Are you sure you want to remove this user?' %>
    <% end %>
  </td>
</tr>
