<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @event %>
<% end %>
<div class="span-9">
<h1><%= @event.name %></h1>
</div>
<div class="span-9 right last">
  <% if current_user.authorized?(@event.user_id)%>
    <%= link_to 'Broadcast Message', new_broadcast_event_path %>
  <% end %>
</div>
<hr />
<h3>Confirmed Attendees</h3>
<% if not @event.confirmed_attendees.empty? %>
    <table class="phoenix_table">
      <tbody>
        <%= render :partial => 'shared/attendee', :collection => @event.confirmed_attendees %>
      </tbody>
    </table>
<% else %>
  <p>No confirmed attendees</p>
<% end %>
<h3>Unconfirmed Attendees</h3>
<% if not @event.unconfirmed_attendees.empty? %>
  <table class="phoenix_table">
    <tbody>
      <%= render :partial => 'shared/attendee', :collection => @event.unconfirmed_attendees %>
    </tbody>
  </table>
<% else %>
  <p>No unconfirmed attendees</p>
<% end %>
