<% content_for(:header) do %>
  <%= link_to "Back", @event, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left", 'data-prefetch' => '' %>
  <h1>Attendees</h1>
<% end %>
<ul data-role="listview">
<li data-role="list-divider">Confirmed</li>
<% unless @event.confirmed_attendees.empty? %>
  <% @event.confirmed_attendees.each do |a| %>
    <% attendance = Attendance.find_by_event_id_and_attending_id(@event.id,a.id) %>
    <li>
      <a href="<%= url_for(attendance) %>">
        <%= image_tag(a.avatar.url(:thumb), :alt => a.username, :height => 22, :class => 'ui-li-icon') %>
        <%= a.username %>
      </a>
    </li>
  <% end %>
<% else %>
  <li>No confirmed attendees</li>
<% end %>
<li data-role="list-divider">Unconfirmed</li>
<% unless @event.unconfirmed_attendees.empty? %>
  <% @event.unconfirmed_attendees.each do |a| %>
    <% attendance = Attendance.find_by_event_id_and_attending_id(@event.id,a.id) %>
    <li>
      <a href="<%= url_for(attendance) %>">
        <%= image_tag(a.avatar.url(:thumb), :alt => a.username, :height => 22, :class => 'ui-li-icon') %>
        <%= a.username %>
      </a>
    </li>
  <% end %>
<% else %>
  <li>No unconfirmed attendees</li>
<% end %>
</ul>
