<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>
<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @event %>
<% end %>
<% content_for(:scripts) do %>
  <%= javascript_include_tag 'event_calendar' %>
<% end %>
<div class="span-9">
  <h1><%= @event.name %></h1>
</div>
<div class="span-9 last right">
  <% if current_user.authorized?(@event.user_id)%>
    <%= link_to 'Create New Schedule', order_selections_event_path %> | 
    <%= link_to 'Send Attendee Update', update_attendees_event_path %> | 
  <% end %>
  <%= link_to 'View Sessions', schedule_event_path %>
</div>
<hr />
<h3>Calendar</h3>
<%= raw(event_calendar) %>
<br />
