<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @event %>
<% end %>
<h1><%= @event.name %></h1>
<h3>Selections Order</h3>
<p>Here you can change the order that your films will be scheduled. This is the first step in creating a new schedule. Simply grab the move icon corresponding the selection you want to reorder and drag it up or down the list, dropping it in it's final desitination. When you're happy with the order click the next button at the bottom.</p>
<% if not @selections.empty? %>
  <ul id="selections">
    <% for s in @selections %>
      <% content_tag_for :li, s do %>
        <table class="phoenix_table">
          <tbody><tr>
            <% event = Event.find(s.event_id) %>
            <td id="move_cell"><%= image_tag('Move.png', :height => 20, :class => 'handle') %></td>
            <td id="row_image">
              <%= link_to image_tag(s.poster, :alt => "no image", :height => "50"),:controller => 'movies', :action => 'show', :id => s.movie_id %>
            </td>
            <td id="selection_info">
               <span id="selection_name"><%= link_to s.movie_name,:controller => 'movies', :action => 'show', :id => s.movie_id %></span>
            </td>
            <td>Selected by: <strong><%= User.find(s.user_id).username %></strong><br>
               Running Time: <strong><%= s.running_time %> mins</strong>
             </td>
            <td id="votes_cell"><div id="votes"><strong><font size="5"><%= s.votes %></font></strong><br>Votes</div></td>
          </tbody></tr>
        </table>
      <% end %>
    <% end %>
  </ul>
  <div class='member_buttons'>
    <%= link_to 'Next', schedule_parameters_event_path(@event), :class => 'member_link' %>
  </div>
<% else %>
  <p>No official selections.</p>
<% end %>
