<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @event %>
<% end %>
<h1><%= @event.name %></h1>
<h3>Schedule Settings</h3>
<div class="box">
  <%= form_tag build_schedule_event_path(@event), :method => 'get' do %>
      Movies per week
      <%= number_field_tag :mpw %><br>
      Preferred start time
      <%= select_datetime @event.start %><br>
      <%= submit_tag "Create Schedule" %>
  <% end %>
</div>
