<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @event %>
<% end %>
<div class="span-9">
<h1><%= @event.name %></h1>
</div>
<div class="span-9 last right">
  <% if current_user.authorized?(@event.user_id)%>
    <%= link_to 'Create New Schedule', order_selections_event_path %> | 
    <%= link_to 'Send Attendee Update', update_attendees_event_path, :confirm => 'This will send an email to all attendees with a full listing of the schedule, confirm?' %> | 
  <% end %>
  <%= link_to 'View Calendar', calendar_event_path %>
</div>
<hr />
<h3>Sessions</h3>
<table class="phoenix_table">
  <tbody>
  <% if not @sessions.empty? %>
    <%= render :partial => 'shared/session', :collection => @sessions %>
  <% else %>
    <tr><td>No schedule has been created as yet. Only the event owner can create the schedule and that can only happen once official selections have been made. Contact the event owner for details.</td></tr>
  <% end %>
  </tbody>
</table>
