<h1><%= link_to(@event.name,@event) %></h1>
<% if current_user.invited_to?(@event) %>
  <table class="event_details">
    <tbody>
      <tr>
        <td class="event_detail_name">Your Selections</td> 
        <td><span class="event_detail_quota"><%= pluralize(Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).selections_remaining,'selection') %> remaining</span></td>
      </tr>
      <tr>  
        <td class="event_detail_name">Your Votes</td>
        <td><span class="event_detail_quota"><%= pluralize(Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).votes_remaining,'vote') %> left</span></td>
      </tr>
      <tr>
        <td class="event_detail_name">Voting is</td>
        <% if @event.open_for_voting? %>
          <td><span class="open">Open</span></td>
        <% else %>
          <td><span class="closed">Closed</span></td>
        <% end %>
      </tr>
      <tr>
        <td class="event_detail_name">Selections are</td>
        <% if @event.open_for_selections? %>
          <td><span class="open">Open</span></td>
        <% else %>
          <td><span class="closed">Closed</span></td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% end %>
<h3>Official Selections</h3>
<p class="indent">The official selections for an event are the ones that will make it into the event schedule.</p>
<% if not @official.empty? %>
  <table class="phoenix_table">
    <%= render :partial => 'shared/selection', :collection => @official %>
  </table>
<% else %>
  <p>No selections have been made official</p>
<% end %>
<br>
<h3>Unoffical Selections</h3>
<p class="indent">The unofficial selections for an event will not make it into the event schedule. Only the event owner can promote an unofficial selection to official status.</p>
<% if not @unofficial.empty? %>
  <table class="phoenix_table">
    <%= render :partial => 'shared/selection', :collection => @unofficial %>
  </table>
<% else %>
  <p>No unofficial selections have been made. <%= link_to "add selection now", movies_search_path %></p>
<% end %>
