<% content_for(:header) do %>
  <%= link_to "Back", root_url, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1><%= @event.name %></h1>
<% end %>
<ul data-role="listview">
  <li>
    <%= link_to "Selections", selections_event_path, 'data-prefetch' => '' %>
    <span class="ui-li-count"><%= @event.selections.count %></span>
  </li>
  <li>
    <%= link_to "Attendees", attendees_event_path, 'data-prefetch' => '' %>
    <span class="ui-li-count"><%= @event.all_attendees.count %></span>
  </li>
  <li>
    <%= link_to "Votes", voting_event_path %>
  </li>
  <% if not @event.movie_sessions.empty? %>
  <li>
    <%= link_to "Sessions", schedule_event_path, 'data-prefetch' => '' %>
  </li>
  <% end %>
  <% if not @comments.empty? %>
  <li>
    <%= link_to "Comments", comments_event_path, 'data-prefetch' => '' %>
  </li>
  <% end %>
  <% if current_user.id == @event.user_id %>
  <li>
    <%= link_to "Invite Someone", search_user_index_path, 'data-ajax' => 'false' %>
  </li>
  <% end %>
  <div data-role="navbar" data-iconpos="left">
    <ul>
      <% if current_user.authorized?(@event.user_id) %>
        <li><%= link_to 'Edit', edit_event_path(@event), :class => "ui-btn-active", "data-icon" => 'gear' %></li>
        <li><%= link_to 'Destroy', @event, :confirm => 'Are you sure you want to remove this event?', :method => :delete, :class => "ui-btn-active", "data-icon" => 'delete' %></li>
      <% end %>
	  </ul>
  </div><!-- /navbar -->
</ul>
