<% content_for(:header) do %>
  <%= link_to "Back", root_url, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1><%= @event.name %></h1>
<% end %>
<ul data-role="listview">
  <li>
    <%= image_tag @event.poster.url(:small) %>
    <h3>Description</h3>
    <p style="white-space: normal;"><%= @event.description %></p>
  </li>
  <li>
    <a href="<%= selections_event_path %>" data-prefetch>
      <h3>Selections</h3>
      <p>Selections are <%= @event.open_for_selections ? "OPEN" : "CLOSED" %>.<br > Voting is <%= @event.open_for_voting ? "OPEN" : "CLOSED" %></p>
      <span class="ui-li-count"><%= @event.selections.count %></span>
    </a>
  </li>
  <% if not @event.movie_sessions.empty? %>
  <li>
    <a href="<%= schedule_event_path %>" data-prefetch>
      <h3>Sessions</h3>
      <% unless @event.upcoming_sessions.empty? %>
        <p>Up next - <i><%= @event.upcoming_sessions.first.selection.movie_name %></i></p>
      <% end %>
      <span class="ui-li-count"><%= @event.movie_sessions.count %></span>
      </a>
  </li>
  <% end %>
  <li>
    <%= link_to "Attendees", attendees_event_path, 'data-prefetch' => '' %>
    <span class="ui-li-count"><%= @event.all_attendees.count %></span>
  </li>
  <li>
    <%= link_to "Comments", comments_event_path, 'data-prefetch' => '' %>
    <span class="ui-li-count"><%= @event.event_comments.count %></span>
  </li>
  <li>
    <%= link_to "Votes Log", voting_event_path %>
  </li>
  <% if current_user.id == @event.user_id %>
  <li>
    <%= link_to "Invite Someone", search_user_index_path, 'data-ajax' => 'false' %>
  </li>
  <% end %>
  <% if current_user.authorized?(@event.user_id) %>
    <li>
      <fieldset class="ui-grid-a">
        <div class="ui-block-a">
          <%= link_to 'Edit', edit_event_path(@event), "data-role" => "button", "data-inline" => "true", "data-icon" => 'gear' %>
        </div>
        <div class="ui-block-b">
          <%= link_to 'Destroy', @event, :confirm => 'Are you sure you want to remove this event?', :method => :delete, "data-role" => "button", "data-icon" => 'delete', "data-inline" => "true", "data-ajax" => 'false' %>
        </div>
      </fieldset>
    </li>
  <% end %>
</ul>
