<p id="notice"><%= notice %></p>
<table class="event_details">
  <tr>
    <td class="event_big_name"><%= @event.name %></td>
    <td class="event_description">
      <%= @event.description %>
    </td>
    <td class="date">
      <span class="month"><%= @event.start.strftime("%b") %></span>
      <span class="day"><%= @event.start.strftime("%d") %></span>
      <span class="year"><%= @event.start.strftime("%Y") %></span>
    </td>
  </tr>
  <tr>
    <td class="event_detail_name">Selections Deadline:</td>
    <td><span class="event_detail_value"><%= @event.selections_deadline %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Votes Deadline:</td>
    <td><span class="event_detail_value"><%= @event.votes_deadline %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Maxmovies:</td>
    <td><span class="event_detail_value"><%= @event.maxmovies %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Selections per attendee:</td>
    <td><span class="event_detail_value"><%= @event.selections_per_attendee %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Votes per attendee:</td>
    <td><span class="event_detail_value"><%= @event.votes_per_attendee %></span></td>
  </tr>
  <% if current_user.invited_to?(@event) %>
  <tr>
    <td class="event_detail_name">Selections</td> 
    <td><span class="event_detail_value"><%= Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).selections_remaining %> selections remaining</span></td>
  </tr>
  <tr>  
    <td class="event_detail_name">Votes</td>
    <td><span class="event_detail_value"><%= Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).votes_remaining %> votes left</span></td>
    </td>
  </tr>
  <% end %>
</table>
<% if not @official.empty? %>
    <h3>Offical Selections</h3>
    <div class="selections">
      <table class="selections">
          <%= render :partial => 'shared/selection', :collection => @official %>
      </table>
      <%= will_paginate @official,:param_name => 'official_page'  %>
    </div>
<% end %>
<% if not @unofficial.empty? %>
    <h3>Unoffical Selections</h3>
    <div class="selections">
      <table class="selections">
          <%= render :partial => 'shared/selection', :collection => @unofficial %>
      </table>
      <%= will_paginate @unofficial,:param_name => 'unofficial_page'  %>
    </div>
<% end %>

<% if not @event.confirmed_attendees.empty? %>
    <h3>Confirmed Attendees</h3>
    <div class="attendees">
        <table class="attendees_table">
            <%= render :partial => 'shared/attendee', :collection => @event.confirmed_attendees %>
        </table>
    </div>
<% end %>

<% if not @event.unconfirmed_attendees.empty? %>
    <h3>Unconfirmed Attendees</h3>
    <div class="attendees">
        <table class="attendees_table">
            <%= render :partial => 'shared/attendee', :collection => @event.unconfirmed_attendees %>
        </table>
    </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
