<p id="notice"><%= notice %></p>
<table class="event_details">
  <tr>
    <td class="event_big_name"><%= @event.name %></td>
    <td class="event_description">
      <%= @event.description %>
    </td>
    <td class="date">
      <span class="month"><%= @event.start.strftime("%b") %></span>
      <span class="day"><%= @event.start.strftime("%d") %></span>
      <span class="year"><%= @event.start.strftime("%Y") %></span>
    </td>
  </tr>
  <tr>
    <td class="event_detail_name">Selections Deadline</td>
    <td><span class="event_detail_value"><%= @event.selections_deadline %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Votes Deadline</td>
    <td><span class="event_detail_value"><%= @event.votes_deadline %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Maxmovies</td>
    <td><span class="event_detail_value"><%= @event.maxmovies %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Selections per attendee</td>
    <td><span class="event_detail_value"><%= @event.selections_per_attendee %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Votes per attendee</td>
    <td><span class="event_detail_value"><%= @event.votes_per_attendee %></span></td>
  </tr>
  <tr>
    <td class="event_detail_name">Voting is</td>
    <% if @event.open_for_voting? %>
      <td><span class="open">Open</span></td>
    <% else %>
      <td><span class="closed">Closed</span></td>
    <% end %>
  </tr>
  <tr>
    <td class="event_detail_name">Selections are</td>
    <% if @event.open_for_selections? %>
      <td><span class="open">Open</span></td>
    <% else %>
      <td><span class="closed">Closed</span></td>
    <% end %>
  </tr>
  <% if current_user.invited_to?(@event) %>
  <tr>
    <td class="event_detail_name">Your Selections</td> 
    <td><span class="event_detail_quota"><%= Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).selections_remaining %> selections remaining</span></td>
  </tr>
  <tr>  
    <td class="event_detail_name">Your Votes</td>
    <td><span class="event_detail_quota"><%= Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).votes_remaining %> votes left</span></td>
    </td>
  </tr>
  <% end %>
</table>
<div class='member_buttons'>
  <%= link_to 'Selections', selections_event_path, :class => 'member_link' %>
  <%= link_to 'Attendees', attendees_event_path, :class => 'member_link' %>
  <%= link_to 'Schedule', schedule_event_path, :class => 'member_link' %>
  <%= link_to 'Edit', edit_event_path(@event), :class => 'member_link' %>
</div>
<br>
<hr />
<% form_for (@newcomment) do |f| %>
  <div>
    <%= f.label "Make a comment" %><br>
    <%= f.text_area :comment, :class => "comment_text" %>
    <%= f.hidden_field :event_id, :value => @event.id %>
  </div>
  <div class="actions">
    <%= f.submit "Add Comment" %>
  </div>
<% end %>
<% if not @comments.empty? %>
  <table class="comment_table">
    <%= render :partial => 'shared/comment', :collection => @comments %>
  </table>
<% end %>
