<% content_for(:header) do %>
  <%= link_to "Back", root_url, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1><%= @event.name %></h1>
<% end %>
<ul data-role="listview">
  <li>
    <%= link_to "Selections", selections_event_path %>
    <span class="ui-li-count"><%= @event.selections.count %></span>
  </li>
  <li>
    <%= link_to "Attendees", attendees_event_path %>
    <span class="ui-li-count"><%= @event.all_attendees.count %></span>
  </li>
  <li>
    <%= link_to "Votes", voting_event_path %>
  </li>
  <% if not @event.movie_sessions.empty? %>
  <li>
    <%= link_to "Sessions", schedule_event_path %>
  </li>
  <% end %>
  <% if current_user.id == @event.user_id %>
  <li>
    <%= link_to "Invite Someone", search_user_index_path %>
  </li>
  <% end %>
</ul>
