<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<p>
  <b>Public:</b>
  <%= @event.public %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>
<p>
  <b>Selections Deadline:</b>
  <%= @event.selections_deadline %>
</p>
<p>
  <b>Votes Deadline:</b>
  <%= @event.votes_deadline %>
</p>
<p>
  <b>Maxmovies:</b>
  <%= @event.maxmovies %>
</p>
<p>
  <b>Selections per attendee:</b>
  <%= @event.selections_per_attendee %>
</p>
<p>
  <b>Votes per attendee:</b>
  <%= @event.votes_per_attendee %>
</p>
<% if current_user.invited_to?(@event) %>
  <h4>You have <%= Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).selections_remaining %> selections left</h4>
  <h4>You have <%= Attendance.find_by_event_id_and_attending_id(@event.id,current_user.id).votes_remaining %> votes left</h4>
<% end %>
<% if not @selections.empty? %>
    <h3>Selections</h3>
    <div class="selections">
      <%= will_paginate @selections %>
      <table class="selections_table">
          <%= render :partial => 'shared/selection', :collection => @selections %>
      </table>
      <%= will_paginate @selections %>
    </div>
<% end %>

<% if not @event.confirmed_attendees.empty? %>
    <h3>Confirmed Attendees</h3>
    <div class="attendees">
        <table class="attendees_table">
            <%= render :partial => 'shared/attendee', :collection => @event.confirmed_attendees %>
        </table>
    </div>
<% end %>

<% if not @event.unconfirmed_attendees.empty? %>
    <h3>Unconfirmed Attendees</h3>
    <div class="attendees">
        <table class="attendees_table">
            <%= render :partial => 'shared/attendee', :collection => @event.unconfirmed_attendees %>
        </table>
    </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
