<% unless user_signed_in? %>
  <div class="row well">
    <div class="span3 offset3">
        <%= link_to "Sign up now!",new_user_registration_path, :class => "btn btn-warning" %>
    </div><!-- sign up span9 -->
  </div><!--sign up row -->
<% end %>
<% if @suggested_movie %>
<div class="row well">
    <div class="span2">
      <%= link_to tmdb_poster(@suggested_movie,@tmdb.poster_sizes[2],200),movies_show_path(:id => @suggested_movie.id) %>
    </div>
    <div class="span6">
        <h3><%= @suggested_movie.title %></h3> (<%= @suggested_movie_date.year if @suggested_movie_date %>)
        <p class="indent"><%= truncate(@suggested_movie.overview, :length => 400) %> </p>
        <span class="badge badge-info"><%= @suggested_movie.vote_average %> / <%= @suggested_movie.vote_count %> votes</span>
        <div class=row>
          <%= link_to 'more', movies_show_path(:id => @suggested_movie.id), :class => "btn btn-info pull-right" %>
        </div>
    </div>
</div>
<% end %>
<% unless @recent_movies.empty? %>
<div class="row">
<table class="table span9">
  <tr>
      <% @recent_movies.first(8).each do |m| %>
        <% if m and m['poster_path'] %>
        <td>
        <%= link_to tmdb_poster(m,@tmdb.poster_sizes[1],130), movies_show_path(:id => m['id']) %>
        </td>
        <% end %>
      <% end %>
   </tr>
<% if @recent_movies.length > 8 %>
    <tr>
      <% @recent_movies.drop(8).first(8).each do |m| %>
        <% if m and m['poster_path'] %>
        <td>
        <%= link_to tmdb_poster(m,@tmdb.poster_sizes[1],130), movies_show_path(:id => m['id']) %>
        </td>
        <% end %>
      <% end %>
    </tr>
<% end %>
</table>
</div><!--row-->
<% end %>
