<% content_for(:sidebar) do %>
  <%= render :partial => 'shared/sidebar_event',:object => @selection.event %>
<% end %>
<h1>Selection for <%= @selection.event.name %></h1>
<div class="span-6">
  <%= insert_poster(@movie,300) %>
  <table>
    <tbody>
      <tr>
          <td>Released</td>
          <td><%= @movie.release_date %></td>
      </tr>
      <tr>
          <td>Urls</td>
          <td><%= link_to( 'TMDB', tmdb_url(@movie)) %><br>
              <% unless @movie.imdb_id.nil? %>
                <%= link_to( 'IMDB', imdb_url(@movie) ) %>
              <% end %>
          </td> 
      </tr>
      <tr>
          <td>TMDB User Rating</td>
          <td><%= @movie.vote_average %> ( <%= @movie.vote_count %> votes )</td>
      </tr>
      <tr>
          <td>Running Time</td>
          <td><%= @movie.runtime %> mins</td>
      </tr>
      <tr>
          <td>Trailer</td>
            <% unless @trailers.empty? or @trailers['youtube'].first.nil? %>
            <td><%= link_to( image_tag('youtube_icon_small.gif'),"http://www.youtube.com/watch?v=#{@trailers['youtube'].first['source']}" ) %></td>
            <% end %>
      </tr>
      <tr>
          <td>Revenue</td>
          <td>$ <%= @movie.revenue if @movie.revenue %></td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
<div class="span-12 last">
  <% if @selection.movie_session %>
    <div class="info">
      <p>This selection is scheduled for <strong><%= @selection.movie_session.start.strftime("%I:%M %P, %d %b %Y") %></strong> <%= link_to "details", @selection.movie_session %></p>
    </div>
  <% end %>
  <strong>Title</strong>
  <p class="indent"><%= @movie.title %></p>
  <strong>Description</strong><br>
  <p class="indent"><%= @movie.overview %></p>
  <strong>Status</strong>
  <p class="indent"><%= @selection.official ? "Official Selection" : "Unofficial Selection" %></p>
  <strong>Selected by</strong> (<%= @selection.created_at.strftime('%d %b %Y') %>)<br>
  <table>
    <tr>
      <td id="row_image"><%= link_to image_tag(@selection.user.avatar.url(:thumb)), Attendance.find_by_event_id_and_attending_id(@selection.event_id,@selection.user_id) %></td>
      <td id="user_name"><%= @selection.user.username %></td><td>
    </tr>
  </table>
  <strong>Attendee reviews</strong><br>
    <%= get_stars(@selection) %><br>
    <p class="indent">
      <%= @selection.average_rating %> (<%= link_to pluralize(@selection.reviews.count,'review'),list_reviews_selection_path(@selection) %>)
    | <%= myreview(@selection) %><br>
    </p>
  <strong><%= pluralize(@selection.votes,'Vote') %></strong><br>
  
  <% unless @selection.registered_votes.empty? %>
    <% @selection.registered_votes.each do |v| %>
      <%= link_to image_tag(v.user.avatar.url(:thumb), :alt => "#{v.user.username}", :title => "#{v.user.username}"), Attendance.find_by_event_id_and_attending_id(@selection.event_id,v.user_id) %>
    <% end %>
  <% end %>
  <br>
  <% if @selection.event.open_for_voting %>
    <%= form_for(@vote) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :selection_id, :value => @selection.id %>
      <%= f.submit "Add Vote" %>
    <% end %><br>
  <% end %>
  <br><hr>
  <%= link_to 'Movie credits',:controller => 'movies', :action => 'show', :id => @selection.movie_id %> | 
  <%= link_to 'Event home',@selection.event %> |
  <%= link_to 'Event selections', selections_event_path(@selection.event) %>
</div>
