<% content_for(:header) do %>
  <%= link_to "Back", selections_event_path(@selection.event), "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1><%= @movie.name %></h1>
<% end %>
<%= insert_poster(@movie,200) %>
<ul data-role="listview">
<li data-role="list-divider">Overview</li>
<li><p style="white-space: normal;"><%= @movie.overview %></p></li>
<li data-role="list-divider">Reviews</li>
<li>
  <% unless @selection.reviews.empty? %>
    <a href="<%= list_reviews_selection_path(@selection) %>">
      <h3>Average Rating</h3>
      <p>Click to see all attendee reviews</p>
      <p><%= get_stars(@selection,:small => true) %></p>
      <span class="ui-li-count"><%= @selection.reviews.count %></span>
    </a>
  <% else %>
    <%= link_to 'Review it now',add_review_selection_path(@selection) %>
  <% end %>
  </a>
</li>
<li data-role="list-divider">Details</li>
<% if @selection.movie_session %>
  <li>
    <a href="<%= url_for(@selection.movie_session) %>">
      <h3>Session info</h3>
      <p><%= @selection.movie_session.start.strftime("%I:%M %P, %d %b %Y") %></p>
    </a>
  </li>
<% end %>
<li>Event: <%= @selection.event.name %></li>
<li>TMDB Rating: <%= @movie.rating %></li>
<li>Classification: <%= @movie.certification %></li>
<li>Running Time: <%= @movie.runtime %></li>
<li>Status: <%= @selection.official ? "Official Selection" : "Unofficial Selection" %></li>
<li>Selected by: <%= @selection.user.username %></li>
<% unless @selection.registered_votes.empty? %>
  <li>
    <h3>Votes: <%= @selection.registered_votes.count %></h3>
    <ul>
      <% @selection.registered_votes.each do |v| %>
        <li>
          <%= image_tag(v.user.avatar.url(:thumb), :alt => v.user.username, :height => 22, :class => 'ui-li-icon') %>
          <%= v.user.username %>
          <p class="ui-li-aside"><%= time_ago_in_words(v.created_at) %> ago</p>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
  <li>
    <fieldset class="ui-grid-b">
      <div class="ui-block-a">
        <% if @selection.event.open_for_voting %>
          <%= form_for(@vote) do |f| %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :selection_id, :value => @selection.id %>
            <li><%= f.submit "Add Vote", "data-inline" => "true" %></li>
          <% end %><br>
        <% end %>
      </div>
      <% if current_user.authorized?(@selection.event.user_id) %>
        <div class="ui-block-b">
          <%= link_to 'Remove',@selection, :method => :delete, :confirm => 'Are you sure you want to remove this selection?', "data-role" => "button", "data-inline" => "true" %>
        </div>
        <div class="ui-block-c">
          <% if not @selection.official %>
            <%= link_to 'Promote',promote_selection_path(@selection), :method => :put, "data-role" => "button", "data-inline" => "true", "data-ajax" => "false" %>
          <% else %>
            <%= link_to 'Relegate',demote_selection_path(@selection), :method => :put, "data-role" => "button", "data-inline" => "true", "data-ajax" => "false" %>
          <% end %>
        </div>
      <% end %>
    </fieldset>
  </li>
</ul>
