<div class="push-4 last">
  <%= form_tag search_user_index_path, :method => 'get' do %>
    <span class="largefont">Find User</span>
    <%= text_field_tag :search %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
  <%= link_to 'browse all', search_user_index_path %><br>
</div>
<div class="span-18 last">
  <br>
  <% if not @users.nil? %>
    <%= will_paginate @users %>
    <table class="phoenix_table">
      <tbody>
        <%= render :partial => 'shared/user', :collection => @users %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  <% end %>
</div>
