<h1>Users</h1>
Find by username <% form_tag search_user_index_path, :method => 'get' do %>
    <%= text_field_tag :search %>"
    <%= submit_tag "Search", :name => nil %>
<% end %>
<%= link_to 'show all', search_user_index_path %><br>
<br>
<% if not @users.nil? %>
  <%= will_paginate @users %>
  <table :class="users">
    <%= render :partial => 'shared/user', :collection => @users %>
  </table>
  <%= will_paginate @users %>
<% end %>
