<% content_for(:header) do %>
  <%= link_to "Back", @event, "data-rel" => 'back', "data-role" => 'button', "class" => "ui-btn-left" %>
  <h1>Invite Someone</h1>
<% end %>
<ul data-role="listview">
<% if not @users.nil? %>
  <% @users.each do |u| %>
      <li>
        <%= image_tag(u.avatar.url(:thumb), :alt => u.username, :height => 22, :class => 'ui-li-icon') %>
        <h3><%= u.username %></h3>
        <ul>
          <li data-role="list-divider">Invite to</li>
          <% form_for(@attendance) do |f| %>
            <li><%= f.select(:event_id, @events.collect { |e| [e.name, e.id] } ) %></li>
            <%= f.hidden_field :inviting_id, :value => current_user.id %>
            <%= f.hidden_field :attending_id, :value => u.id %>
            <li><%= f.submit "Invite" %></li>
          <% end %>
        </ul>
      </li>
  <% end %>
  <%= will_paginate(@users, :renderer => WillPaginateJqueryMobileRenderer) %>
<% else %>
  <li>No users</li>
<% end %>
</ul>

