<table><tr>
<td width="100">
  <%= image_tag @user.avatar.url(:small) %>
<td text-align='left'><h1><%= @user.username %></h1></td>
</table>
<h3>My Events</h3>
<% if not @user.events.empty? %>
  <table class="phoenix_table">
    <tbody>
      <%= render :partial => 'shared/event', :collection => @user.events %>
    </tbody>
  </table>
<% else %>
  <p>You are not the owner of any events</p>
<% end %>
<h3>Attending Events</h3>
<% if not @user.accepted_invitations.empty? %>
  <table class="phoenix_table">
    <tbody>
      <%= render :partial => 'shared/accepted_invite', :collection => @user.accepted_invitations %>
    </tbody>
  </table>
<% else %>
  <p>You're not attending any events.</p>
<% end %>
<h3>Invitations</h3>
<% if not @user.open_invitations.empty? %>
  <table class="phoenix_table">
    <tbody>
      <%= render :partial => 'shared/invitation', :collection => @user.open_invitations %>
    </tbody>
  </table>
<% else %>
  <p>You have no invitations.</p>
<% end %>
<% unless @selections.empty? %>
  <h3>My Selections</h3>
  <% @selections.each do |s| %>
    <%= link_to image_tag(s.poster, :height => 80),:controller => 'movies', :action => 'show', :id => s.movie_id %>
  <% end %>
<% end %>
<% unless @votes.empty? %>
  <h3>My Votes</h3>
  <% @votes.each do |v| %>
    <%= link_to image_tag(v.selection.poster, :height => 80),:controller => 'movies', :action => 'show', :id => v.selection.movie_id %>
  <% end %>
<% end %>
<div class='member_buttons'>
  <%= link_to "Edit My Account", edit_user_registration_path, :class => 'member_link' %>
</div>
