<table><tr>
<td width="100">
  <%= gravatar_image_tag(@user.email, :alt => @user.username, :class => 'gravatar') %>
  <%= link_to "change", "http://gravatar.com/emails", :target => '_blank' %></td>
<td text-align='left'><h1><%= @user.username %></h1></td>
</table>
<% if not @user.events.empty? %>
  <h3>My Events</h3>
  <table class="events">
    <%= render :partial => 'shared/event', :collection => @user.events %>
  </table>
<% end %>

<% if not @user.accepted_events.empty? %>
  <h3>Attending Events</h3>
  <table class="events">
      <%= render :partial => 'shared/attending_event', :collection => @user.accepted_events %>
  </table>
<% else %>
  <p>You're not attending any events.</p>
<% end %>

<% if not @user.open_invitations.empty? %>
  <h3>Open Invitations</h3>
  <div class="invitations">
    <table class="invitations_table">
      <tr><th>Inviter</th><th>Event</th><th>Selections</th><th>Votes</th></tr>
        <%= render :partial => 'shared/invitation', :collection => @user.open_invitations %>
    </table>
  </div>
<% else %>
  <p>You have no invitations.</p>
<% end %>
