<div class="span-24 last logininfo">
<% if user_signed_in? %>
  <%= current_user.username %> is signed in
  <% if current_user.admin? %>
    [admin]
  <% end %>
  | <%= link_to "Sign out", destroy_user_session_path %>
<% else %>
  Not logged in | 
  <%= link_to "Sign in", new_user_session_path %> | 
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
</div>
<div id="header" class="span-24 last">
  <!--%= link_to logo, root_path %-->
  <%= link_to "GarageFilmFestival.org", root_path, :id => "titlebanner"%>
</div>
<div class="menu span-24 last">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><a href="#" id="current">Films</a>
			<ul>
				<li><%= link_to "Find", movies_search_path %></li>
		  </ul>
	  </li>
		<li><%= link_to "My Festival", "#" %>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "MyHome", "/user/#{current_user.id}" %></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Events", events_path %></li>
            <li><%= link_to "Users", search_user_index_path %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
    </li>
		<li><%= link_to "Help", "#" %></li>
		<li><%= link_to "Contact", "/pages/contact" %></li>
		<li><%= link_to "About", "/pages/about" %></li>
	</ul>
</div>


