  <% if user_signed_in? %>
    <%= yield :sidebar %>
  <% else %>
    <div class="well sidebar-nav">
        <% if request.url != "/users/sign_in" %>
            <h3>Sign in</h3>
            <div class="box">
                <%= form_for("user", :url => user_session_path) do |f| %>
                  <%= f.label :username %>
                  <%= f.text_field :username, :size => 12 %>
                  <%= f.label :password %>
                  <%= f.password_field :password, :size => 12 %>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  <%= f.submit 'Sign in' %><br>
                  <%= link_to "Forgot your password?", new_password_path('user') %>
                <% end %>
            </div>
        <% end %>
    </div>
  <% end %>
