<div class="span-4 last box" id="sidebar">
  <div class="sidebarmenu">
  <% if user_signed_in? %>
    <h3 class="headerbar">actions</h3>
    <ul>
      <li><%= link_to "My Home", current_user %>
      <li><%= link_to "Create Event", new_event_path %>
      <li><%= link_to "Find Event", search_events_path %>
      <li><%= link_to "Find Movie", movies_search_path %>
      <li><%= link_to "Find User", search_user_index_path %>
    </ul>
    <h3 class="headerbar">quick links</h3>
    <ul class="sidebarmenu">
      <% current_user.all_events.each do |event| %>
        <li><%= link_to event.name,event,:class => "quicklink" %>
      <% end %>
    </ul>
    <%= yield :sidebar %>
  <% else %>
    <% if request.url != "/users/sign_in" %>
      <h3 class="headerbar">Sign in</h3>
      <div class="box">
        <%= form_for("user", :url => user_session_path) do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username, :size => 12 %>
          <%= f.label :password %>
          <%= f.password_field :password, :size => 12 %>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          <%= f.submit 'Sign in' %><br>
          <%= link_to "Forgot your password?", new_password_path('user') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
