<div class="span-4 last box" id="sidebar">
  <% if user_signed_in? %>
    <h3 class="caps">actions</h3>
    <%= link_to "MY HOME", "/user/#{current_user.id}", :class => "action_link" %>
    <hr />
    <%= link_to "CREATE EVENT", new_event_path, :class => "action_link" %>
    <%= link_to "FIND EVENT", events_path, :class => "action_link" %>
    <%= link_to "ADD SELECTION", movies_search_path, :class => "action_link" %>
    <%= link_to "INVITE", search_user_index_path, :class => "action_link" %>
  <% end %>
</div>
