<div class="span-4 last" id="sidebar">
    <div class="box">
        <h3 class="caps">site</h3>
        <ul>
            <li><%= link_to "Home", "#" %>
            <li><%= link_to "Contact", "#" %>
            <li><%= link_to "Help", "#" %>
            <li><%= link_to "About", "#" %>
        </ul>
        <h3 class="caps">events</h3>
        <ul>
            <li><%= link_to "Find", "#" %>
        </ul>
        <h3 class="caps">films</h3>
        <ul>
            <li><%= link_to "Find", "#" %>
        </ul>
    </div>
</div>
