<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%= render 'layouts/stylesheets' %>
        <%= javascript_include_tag :defaults %>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <div class="container">
            <%= render 'layouts/header' %>
            <div id=content class="span-17 colborder">
                <%= yield %>
            </div>
            <%= render 'layouts/sidebar' %>
            <%= render 'layouts/footer' %>
        </div>
    </body>
</html>
