<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <%= favicon_link_tag 'gff_icon.gif' %>
        <%= csrf_meta_tag %>
        <%= stylesheet_link_tag 'application', :media => 'all' %>
        <%= yield :stylesheets %>
        <%= yield :head %>
    </head>
    <body>
      <%= render 'layouts/header' %>
      <div class="container">
        <div class="row">
          <div class="span9">
            <% unless flash.empty? %>
            <div class="row">
              <div class="span9">
                <% flash.each do |key, value| %>
                  <% if key == :notice %>
                      <div class="alert alert-info">
                  <% else %>
                      <div class="alert alert-error">
                  <% end %>
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong><%= key %>: </strong><%= value %>
                  </div><!--alert-->
                <% end %>
              </div><!--flash span9-->
            </div><!--flash row-->
            <% end %>
            <div class="row">
              <!--render main content pane-->
              <%= yield %>
            </div><!-- main content row -->
          </div><!--main content span9-->
          <div class="span3">
            <%= render 'layouts/sidebar' %>
          </div><!--sidebar span-->
        </div><!-- main layout row-->
      </div><!--container-->
      <footer>
      <div class="container">
        <div class="row">
          <%= yield :footer %>
          <div class="span12"> 
            <%= link_to image_tag("tmdb.png", :width => 180),"http://www.themoviedb.org", :class => 'pull-right' %>
          </div><!--span12-->
        </div><!--footer row-->
      </div><!--footer container-->
      </footer>
      <%= yield :scripts %>
      <%= javascript_include_tag 'application' %>
    </body>
</html>
