<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <%= favicon_link_tag 'gff_icon.gif' %>
        <%= csrf_meta_tag %>
        <%= stylesheet_link_tag 'application', :media => 'all' %>
        <%= yield :stylesheets %>
        <%= yield :head %>
    </head>
    <body>
      <%= render 'layouts/header' %>
      <div class="container">
          <div class="row">
            <div class="span9">
               <%= yield %>
            </div>
            <div class="span3">
              <%= render 'layouts/sidebar' %>
            </div><!--/span-->
          </div><!--/row-->

        <footer>
          <%= render 'layouts/footer' %>
        </footer>
        <%= yield :scripts %>
        <%= javascript_include_tag 'application' %>
    </body>
</html>
