<!DOCTYPE html> 
<html> 
	<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<%= stylesheet_link_tag 'custom_mobile', :media => 'screen' %>
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
	<%= javascript_include_tag 'jquery_ujs' %>
	<%= yield(:head) %>
</head> 
<body> 
  <div data-role="page" id="mainpage">
    <div data-role="header">
      <%= yield :header %>
      <%= link_to "Full Site", root_url(:mobile => 0), :rel => 'external', "data-role" => 'button', "class" => "ui-btn-right" %>
    </div><!-- /header -->
    <% unless flash.empty? %>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <div data-role="content">
      <%= yield %>
    </div><!-- /content -->
    <div data-role="footer" class="ui-bar">
	    <%= yield :footer %>
	    <% if user_signed_in? %>
	      <%= link_to "Home", root_path, "data-role" => 'button', "data-icon" => 'home' %></li>
        <%= link_to "Sign out", destroy_user_session_path, "data-role" => 'button', "data-icon" => 'delete' %></li>
      <% end %>
    </div><!-- /footer -->
  </div><!-- /page -->
  <%= yield :morepages %>
</body>
</html>
