<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%= render 'layouts/stylesheets' %>
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag 'tooltip' %>
        <%= csrf_meta_tag %>
        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24726120-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    </head>
    <body>
        <div class="container">
            <%= render 'layouts/header' %>
            <div id="mainview" class="span-24">
              <div id="content" class="span-18 colborder">
                  <% flash.each do |key, value| %>
                    <div class="flash <%= key %>"><%= value %></div>
                  <% end %>
                  <%= yield %>
              </div>
              <%= render 'layouts/sidebar' %>
              <%= render 'layouts/footer' %>
            </div>
        </div>
    </body>
</html>
